.container-networking{
  width: 100%;
  padding: 20px;
}

.top-bar-section-desktop{
  display: none;
}

.cards-grid{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.card, .card-mobile-only{
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  border: 1px solid var(--color-gray-light);
  border-radius: 6px;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.card-body{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 10px;
}

.card-body h3{
  font-size: 14px;
  font-weight: 400;
}

.card-body p{
  font-family: "Source Sans Light";
  font-weight: 100;
  font-size: 12px;
  color: var(--color-gray);
}

.btn{
  width: 100px;
  height: 30px;
  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0px;
  border-radius: 5px;
  white-space: nowrap;
}

.btn-primary{
  font-size: 14px;
  font-family: "Source Sans Light";
  color: var(--color-white);
  border: transparent;
  background: var(--color-primary);
}

.panels-layout{
  display: none;
}

@media (min-width: 768px){

.container-networking{
  display: block;
}

.top-bar-section-desktop{
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 80px;
}

.search-desktop{
  width: 300px;
  height: 30px;
  display: flex;
  margin: 10px 0 8px;
  background: var(--color-white);
  border: 1px solid var(--color-gray-light-1);
  border-radius:6px;
  padding: 9px 14px;
  gap: 8px;
  align-items: center;
}

.search-desktop img{
  width: 16px;
  height: 16px;
}
 
.search-input-desktop{
  border: none;
  background: transparent;
  font-size: 14px;
  outline: none;
}

.search-input-desktop::placeholder{
  color: var(--color-gray);
}

.filters-desktop{
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Source Sans Light";
  font-weight: 100;
  gap: 20px;
}

.btn-filter{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  padding: 10px;
  border: transparent;
  background: none;
}

.btn-filter:hover{
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 5px solid var(--color-primary);
  border-radius: 5px;
}

.cards-grid{
  flex-direction: row;
  gap: 10px;
}

.card-mobile-only{
  display: none;
}

.card{
  flex-direction: column;
  align-items: start;
  margin: 10px 0px;
  gap: 15px;
  border: transparent;
  padding: 0px;
}

.card-body{
  width: 100%;
}

.btn-primary{
  font-family: "Source Sans Light";
  font-size: 12px;
  font-weight: 100;
  border-radius: 10px;
}

.panels-layout{
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: "Source Sans Light";
}

.panel-activity h2{
  font-size: 16px;
  margin: 5px 0px;
  font-weight: 400;
}

.activity-list{
  line-height: 1.5;
}

.activity-list li{
  list-style: none;
  font-family: "Source Sans Light";
  font-weight: 100;
  font-size: 14px;
  color: var(--color-gray);
}

.panel-suggestions h2{
  font-size: 16px;
  font-weight: 400;
}

.suggestions-list{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-weight: 100;
}

.btn-secondary{
  font-size: 12px;
  font-weight: 100;
  font-family: "Source Sans Light";
  color: var(--color-white);
  border: transparent;
  background: var(--color-primary);
  border-radius: 10px;
}

}