

.home-content{
    width: 100%;
    padding: 60px 20px;
    font-family: "Source Sans Light";
}

.home-hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 80px;
}

.home-hero__title{
    padding: 4%;
    font-size: 3.2rem;
    font-family: "Source Sans Bold";
}

.home-hero__text{
    font-size: 1rem;
    color: var(--color-text-muted);
    margin-bottom: 50px;
}

.home-hero__buttons{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 7%;
    font-family: "Source Sans Light";
}

.btn{
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  font-weight: 400;
}

.home-hero__btn--color{
    width: 160px;
    height: 37px;
    background: var(--gradient);
    color: var(--color-white);
    border: none;
}

.home-hero__btn--white{
    width: 160px;
    height: 37px;
    background-color: transparent;
    color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.home-hero__video-box{
    width: 85%;
    height: auto;
}

.home-hero__video-box video{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 12px;
}

.home-benefits{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.home-benefits__title{
    font-size: 1.8rem;
    font-weight: 100;
}

.home-benefits-cards{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.home-benefits__card{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.home-benefits__card img{
    width: 30px;
    height: auto;
}

.home-benefits__text{
    width: 300px;
    padding: 20px;
    font-size: 0.9rem;
    color: #565E6C;
    line-height: 1.7;
    margin-bottom: 20px;
}

.home-benefits__btn{
    padding: 2px 0px 2px 0px;
    font-size: 0.8rem;
}

.home-benefits__btn{
    width: 140px;
    height: 44px;
    background: #FEF0F9;
    color: var(--color-primary);
    border: none;
}

.home-benefits__btn:hover{
    background: var(--gradient);
    color: var(--color-white);
    border: none;
}