
.footer{
    width: 100%;
    height: auto;
    background-color: rgb(29, 33, 40);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    color: #ffffff;
    gap: 20px;
    padding: 50px;
}

.footer__form-box{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 50px;
}

.footer__form{
    display: flex;
    align-items: center;
    background-color: #1e2229;
    border: 1px solid #4f5660;
    border-radius: 50px;
    width: 70%;
    overflow: hidden;
}

.footer__input-box{
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 10px;
    flex-grow: 1;
    gap: 10px;
}

.footer__input-icon{
    width: 20px;
    height: auto;
    opacity: 0.8;
}

.footer__input{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1rem;
}


.footer__btn-submit{
    background: linear-gradient(90deg, #8a41b4, #d80073);
    color: #ffffff;
    border: none;
    outline: none;
    padding: 10px 30px; 
    font-size: 1rem;
    font-weight: 200;
    cursor: pointer;
    white-space: nowrap;
}

.footer__nav-box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.footer__logo{
    display: flex;
    align-items: center;
}

.footer__links ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.footer__divider{
    width: 100%;
    border-top: 1px solid #DEE1E6;
}

.footer__bottom{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    font-size: 0.8rem;
    padding: 20px 0px 20px 0px;
}

.footer__select-language{
    border: 1px solid #919191;
    padding: 5px 10px;
    border-radius: 5px;
}

.footer__select-language select{
    background-color: transparent;
    color: white;
    border: none;
}

.footer__copyright{
    width: 200px;
    text-align: center;
    font-size: 0.8rem;
}

.footer__social-icons{
    display: flex;
    gap: 15px;
}

.footer__social-icons img{
    width: 20px;
    height: 20px;
}