@font-face {
  font-family: "Source Sans";
  src: url(./fonts/SourceSans3-Regular.woff);
}

@font-face {
  font-family: "Source Sans Light";
  src: url(./fonts/SourceSans3-Light.woff);
}

@font-face {
  font-family: "Source Sans Medium";
  src: url(./fonts/SourceSans3-Medium.woff);
}

@font-face {
  font-family: "Source Sans Bold";
  src: url(./fonts/SourceSans3-Bold.woff);
}

:root {
  --color-primary: #DF007F;
  --color-secondary: #873AAA;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-light: #F3F4F6;
  --color-gray-light-1: #BCC1CA;
  --color-gray: #565E6C;
  --gradient: linear-gradient(to right, var(--color-secondary), var(--color-primary));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans", sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.hidden{
  display: none !important;
}

.nav{
  display: none;
}

.nav__box{
  width: 310px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  gap: 20px;
}

.nav__pages {
  display: none;
}

.nav__buttons {
  display: flex;
}

.btn {
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-size: 1rem;
  white-space: nowrap;
}

.btn--color {
  display: none;
}

.btn--white {
  display: none;
}


@media (min-width: 768px){


.nav{
  margin-top: 20px;
  width: 100%;
  min-height: 70px;
  padding: 0px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: var(--color-white);
}

.nav__box{
  width: auto;
  height: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  gap: 30px;
}

.nav .nav__box img{
  width: 150px;
  height: auto;
}

.nav__pages{
  height: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 1rem;
}

.nav__pages ul{
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 30px;
  
}

.nav__pages ul li{
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-bottom: 5px solid transparent;
  color: #565E6C;

}

.nav__pages ul li:hover{
  color: var(--color-primary);
  font-weight: bold;
  border-bottom: 5px solid var(--color-primary);
  border-radius: 5px;
}

.nav__buttons{
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

.btn {
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1rem;
}

.btn--color{
  width: 160px;
  height: 36px;
  display: flex;
  background: var(--gradient);
  color: var(--color-white);
  border: none;
}

.btn--white{
  width: 160px;
  height: 36px;
  display: flex;
  background: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
}


}