/* BEM:
.bloque
.bloque__elemento
.bloque__elemento--modificador
 */

@font-face {
  font-family: "Sourse Sans";
  src: url(./fonts/SourceSans3-Regular.woff);
}

:root {
  --color-primary: #DF007F;
  --color-secondary: #873AAA;
  --color-white: #FFFFFF;
  --color-black: #000000;
}

* {
  margin: 0;
  font-family: "Sourse Sans"
}



