@font-face {
  font-family: "Source Sans";
  src: url(./fonts/SourceSans3-Regular.woff);
}

@font-face {
  font-family: "Source Sans Light";
  src: url(./fonts/SourceSans3-Light.woff);
}

@font-face {
  font-family: "Source Sans Medium";
  src: url(./fonts/SourceSans3-Medium.woff);
}

@font-face {
  font-family: "Source Sans Bold";
  src: url(./fonts/SourceSans3-Bold.woff);
}

:root {
  --color-primary: #DF007F;
  --color-secondary: #873AAA;
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-gray-light: #F3F4F6;
  --color-gray-light-1: #BCC1CA;
  --color-gray: #565E6C;
  --gradient: linear-gradient(to right, var(--color-secondary), var(--color-primary));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans", sans-serif;
}

body {
  background-color: var(--color-white);
  color: var(--color-black);
}

.hidden{
  display: none;
}

.btn {
  padding: 10px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
  font-size: 1rem;
  white-space: nowrap;
}